html, body {
    padding: 4em;
    width: 80%;
    margin: 0 auto;
    background-color: #FFF7F0;
    cursor: none;
}

@font-face {
    font-family: "MonumentExtended-Regular";
    src: url("monumentextended-regular-webfont.woff");
}

span.color1, span.color2, span.color3, span.color4 {
    font-size: 120px;
    font-weight: bold;
    transition: color 3s;
    transition-delay: 1s;
    font-family: "MonumentExtended-Regular";
}

.mondoLogo {
    position: absolute;
    align-items: center;
    z-index: -1;
    padding-left: -100px;
    padding-top: 150px;
}

/* Change text color when hover */
span.color1:hover { color: #06d6a0; transition: color 0s; } 
span.color2:hover { color: #ef476f; transition: color 0s; } 
span.color3:hover { color: #1b9aaa; transition: color 0s; } 
span.color4:hover { color: #77567a; transition: color 0s; } 
span.color1, span.color2, span.color3, span.color4 { color: black;}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid #FF0000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 0;
}

.link-grow {
    transform: scale(2);
    background: #FF0000;
}

/* about.html */

.navLogo {
    color: black;
    text-decoration: none;
    float: left;
    font-family: "MonumentExtended-Regular";
    font-size: 36px;
    line-height: 33px;
}

.container {
    width: 100%;
    margin: -25px auto;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 25px;
    font-family: "MonumentExtended-Regular";
}

.navLinks a {
    text-decoration: none;
    color: black;
}


.navLogo span {
    color: black;
}

.aboutBody {
    font-family: "MonumentExtended-Regular";
    font-size: 25px;
    position: absolute;
    align-items: center;
    margin-left: 215px;
    width: 945px;
    height: 431px;
    left: 133px;
    top: 325px;
    z-index: -1;
}

img {
    position: absolute;
    width: 342px;
    height: 543px;
    left: 1230px;
    top: 240px; 
    z-index: -2;
}

.aboutBody span {
    color:#ff6666;
}