html, body {
    padding: 4em;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: #FFF7F0;
    cursor: none;
}

@font-face {
    font-family: "MonumentExtended-Regular";
    src: url("monumentextended-regular-webfont.woff");
}

span.color1, span.color2, span.color3 {
    font-size: 110px;
    font-weight: bold;
    transition: color 3s;
    transition-delay: 1s;
    font-family: "MonumentExtended-Regular";
}

span.color1:hover { color: #9a031e; transition: color 0s; } 
span.color2:hover { color: #3d348b; transition: color 0s; } 
span.color3:hover { color: #ef798a; transition: color 0s; } 
span.color1, span.color2, span.color3 { color: black;}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid #FF0000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1;
    /* backdrop-filter: invert(70%); */
}

.link-grow {
    transform: scale(2);
    background: #FF0000;
}

/* p {
    font-family: "MonumentExtended-Regular";
    font-size: 52px;
    font-style: normal;
    font-weight: normal;
    padding-top: 18%;
    line-height: 52px;
    color: #000000;
} */

.smiley-sticker-img {
    position: absolute;
    width: relative 100%;
    height: 194px;
    left: 40px;
    top: 318.71px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    transform: rotate(-16.38deg);
}

.german-flag-sticker-img {
    position: absolute;
    width: 224px;
    height: 139px;
    left: 420.1px;
    top: 169px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    transform: rotate(12.51deg);
}

.designStickerImg {
    position: absolute;
    width: 409px;
    height: 409px;
    left: 120px;
    top: 140px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    transform: rotate(-18.54deg);
    /* padding applied so cursor animates right on sticker not beforehand */
    padding: -35rem;
}

/* about.html */

.navbar {
    font-family: "MonumentExtended-Regular";
    color: black;
    font-size: 18px;
    word-spacing: normal;
    text-align: right;
}